openapi: 3.2.0
info:
  version: '1.0'
  title: Eurostat SDMX RESTful Catalogue queries API
  description: 'Listing of supported SDMX requests based on

    * official sdmx-rest 2.1 specifications

    * official sdmx-rest 3.0 specifications


    For additional information, please consult the online-help.'
  contact:
    name: Contact Eurostat user support
    url: https://ec.europa.eu/eurostat/help/support
servers:
- description: Eurostat
  url: https://ec.europa.eu/eurostat/api/dissemination
- description: Eurostat - Comext datasets
  url: https://ec.europa.eu/eurostat/api/comext/dissemination
tags:
- name: Catalogue queries
paths:
  /catalogue/dcat/{agencyID}:
    get:
      summary: Generate a catalogue of all datasets in RDF format
      tags:
      - Catalogue queries
      parameters:
      - $ref: '#/components/parameters/agencyID'
      responses:
        '200':
          $ref: '#/components/responses/200-dcat'
      operationId: getCatalogueDcatByAgencyID
      x-operation-id-source: derived
  /catalogue/dcat/{agencyID}/{extractionType}:
    get:
      summary: Generate a catalogue of datasets in RDF format
      tags:
      - Catalogue queries
      parameters:
      - $ref: '#/components/parameters/agencyID'
      - $ref: '#/components/parameters/extractionType'
      responses:
        '200':
          $ref: '#/components/responses/200-dcat'
      operationId: getCatalogueDcatByAgencyIDByExtractionType
      x-operation-id-source: derived
  /catalogue/metabase.txt.gz:
    get:
      summary: Generate the Metabase which is a catalogue containing the definition of…
      tags:
      - Catalogue queries
      responses:
        '200':
          $ref: '#/components/responses/200-metabase'
      operationId: getCatalogueMetabaseTxtGz
      x-operation-id-source: derived
  /catalogue/rss/{language}/statistics-update.rss:
    get:
      summary: Generate a web feed which allows users to access updates to online content in a…
      tags:
      - Catalogue queries
      parameters:
      - $ref: '#/components/parameters/language'
      responses:
        '200':
          $ref: '#/components/responses/200-rss'
      operationId: getCatalogueRssByLanguageStatisticsUpdateRss
      x-operation-id-source: derived
  /catalogue/toc/TableOfContent.xsd:
    get:
      summary: Return the XML Schema Definition of the Table of Content (TOC)
      tags:
      - Catalogue queries
      responses:
        '200':
          $ref: '#/components/responses/200-tocxsd'
      operationId: getCatalogueTocTableOfContentXsd
      x-operation-id-source: derived
  /catalogue/toc/txt:
    get:
      summary: Return the Table of Content (TOC) for the specified language in text format
      tags:
      - Catalogue queries
      parameters:
      - $ref: '#/components/parameters/lang'
      responses:
        '200':
          $ref: '#/components/responses/200-toctxt'
      operationId: getCatalogueTocTxt
      x-operation-id-source: derived
  /catalogue/toc/xml:
    get:
      summary: Return the Table of Content (TOC) for all supported languages in XML format
      tags:
      - Catalogue queries
      responses:
        '200':
          $ref: '#/components/responses/200-tocxml'
      operationId: getCatalogueTocXml
      x-operation-id-source: derived
components:
  responses:
    200-toctxt:
      description: OK
      content:
        text/plain:
          schema:
            type: string
    200-dcat:
      description: OK
      content:
        application/octet-stream:
          schema:
            type: string
            format: binary
    200-tocxsd:
      description: OK
      content:
        application/xml:
          schema:
            type: string
    200-metabase:
      description: OK
      content:
        application/octet-stream:
          schema:
            type: string
            format: binary
    200-rss:
      description: OK
      content:
        application/xml:
          schema:
            type: string
    200-tocxml:
      description: OK
      content:
        application/xml:
          schema:
            type: string
  parameters:
    extractionType:
      in: path
      name: extractionType
      description: 'The type of extraction, only `FULL` and `UPDATES` are supported.

        * `FULL`: get a catalogue for all datasets?

        * `UPDATES`: get a catalogue of datasets updated since the latest embargo.

        '
      required: false
      schema:
        type: string
        enum:
        - FULL
        - UPDATES
    language:
      in: path
      name: language
      description: 'The language of the requested data.

        '
      required: true
      schema:
        type: string
        enum:
        - en
        - fr
        - de
    agencyID:
      in: path
      name: agencyID
      description: The agency maintaining the artefact used to generate the schema to be returned.
      required: true
      schema:
        type: string
        pattern: ^[A-Za-z][A-Za-z\d_-]*(\.[A-Za-z][A-Za-z\d_-]*)*$
    lang:
      in: query
      name: lang
      description: 'The language of the requested data.

        '
      required: false
      schema:
        type: string
        enum:
        - en
        - fr
        - de
        default: en
